@page "/resume"

<section class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-4 shadow-lg">
        <!-- Prova att visa PDF:en direkt utan PDF.js -->
        <iframe src="/cv/cv.pdf#toolbar=0&navpanes=0&scrollbar=0" class="w-full h-[842px]" style="height: 842px; width: 595px;" frameborder="0"></iframe>

    </div>
</section>
